# Python
__pycache__/
*.py[cod]
*$py.class

# Data directory
data/

# Environments & Secrets
.env
.env.*
!.env.example
.venv/
env/
venv/

# Jupyter
.ipynb_checkpoints

# OS
Thumbs.db
Desktop.ini
.DS_Store

# IDE
.vscode/
.idea/